body {
	margin:0;
	padding:0;
	color:#484848;
	font-size: 14px;
	font-family:circular, "Helvetica Neue", Arial, Sans-serif;
}
div.container {
	max-width: 1000px;
	margin: 30px auto;
	text-align: center;
}
